.container {
	position: relative;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.content {
	transition: all 0.5s ease-in-out;
}

.menu {
	position: absolute;
	top: 0;
	right: 0rem;
	width: 4rem;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	line-height: 1;
	cursor: pointer;
	transition-property: color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.menu.is_opened {
}
